* {
    background-color: rgb(214, 212, 208);
}

main {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
}

button {
    background-color: chartreuse;
}

button:hover {
    color: black;

}

div {
    background-color: brown;
}

input {
    background-color: brown;
}

.calcButton {
    border-radius: 0.5em;
    border-color: white;
}

#btclear {
    width: 100%;
    display: block;
    margin-top: 10px;
}

/* this section is defining the width */
#calcEntire {
    width: 320px;
    max-width: 90vw;
    border: 5px solid black;
    border-radius: 10px;
    padding: 2rem;
}

#calcEntire > input.calcButton {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-size: 1.2rem;
    height: 50px;
    margin-bottom: 12px;
}

#calcEntire > div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    width: 100%;
}